description "Sample Django application"

start on runlevel [2345]
stop on runlevel [!2345]
respawn

setuid django
setgid django
chdir {{ django_home }}/django/
exec /usr/local/bin/uwsgi --http {{ address }}:8500  --chdir {{ django_home }}django -w example.wsgi
